body {
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.grid line {
  stroke-opacity: 0.1;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.StartDot {
    fill: green;
}
.EndDot {
    fill: red;
}
.CurrentDot {
    fill: blue;
}

Central-Africa {
    shape-rendering: crispEdges;
}
Central-America {
    shape-rendering: crispEdges;
}
Central-Asia {
    shape-rendering: crispEdges;
}
East-Asia {
    shape-rendering: crispEdges;
}
East-Europe {
    shape-rendering: crispEdges;
}
North-Africa {
    shape-rendering: crispEdges;
}
North-America {
    shape-rendering: crispEdges;
}
North-Europe {
    shape-rendering: crispEdges;
}
Polynesia {
    shape-rendering: crispEdges;
}
South-America {
    shape-rendering: crispEdges;
}
South-Asia {
    shape-rendering: crispEdges;
}
South-Europe {
    shape-rendering: crispEdges;
}
West-Africa {
    shape-rendering: crispEdges;
}
West-Asia {
    shape-rendering: crispEdges;
}
West-Europe {
    shape-rendering: crispEdges;
}

.PolytheisticEnd {
    fill: #bd2b4b;
}

.PolytheisticFound {
    fill: #ff5349;
}

.PolytheisticLine {
    stroke: #e3534c;
    shape-rendering: crispEdges;
}

.MonotheisticFound {
    fill: #69b3a2;
}

.MonotheisticEnd {
    fill: #4c4082;
}

.MonotheisticLine {
    stroke: steelblue;
    shape-rendering: crispEdges;
}

.AnimismEnd {
    fill: #541675;
}

.AnimismFound {
    fill: #b491c8;
}

.AnimismLine {
    stroke: #9c3587;
    shape-rendering: crispEdges;
}

.DualisticEnd {
    fill: #64731e;
}

.DualisticFound {
    fill: #dfe667;
}

.DualisticLine {
    stroke: #7ea310;
    shape-rendering: crispEdges;
}

.NontheisticEnd {
    fill: #535c5f;
}

.NontheisticFound {
    fill: #73939c;
}

.NontheisticLine {
    stroke: #8a8a8a;
    shape-rendering: crispEdges;
}

.ShamanisticEnd {
    fill: #fd5602;
}

.ShamanisticFound {
    fill: #ffaf42;
}

.ShamanisticLine {
    stroke: #e38931;
    shape-rendering: crispEdges;
}
